<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.spring.mvc.repository.MemberMapper">
	
	<select id="loginCheck" resultType="int" parameterType="test.spring.mvc.bean.MemberDTO">
		select count(*) from freemember where id=#{id} and passwd=#{passwd} and status > 0
	</select>
	<select id="member" resultType="test.spring.mvc.bean.MemberDTO">
		select * from freemember where id=#{id}
	</select>
	<update id="memberUpdate" parameterType="test.spring.mvc.bean.MemberDTO">
		update freemember
			<set>
				<if test="passwd != null and passwd != '' ">passwd=#{passwd},</if> 
				<if test="name != null and name != '' ">name=#{name},</if> 
				<if test="email != null and email != '' ">email=#{email},</if> 
				<if test="blog != null and blog != '' ">blog=#{blog}</if> 
			</set>
		where id=#{id}	
	</update>
	<update id="statusChange" parameterType="String">
		update freemember set status=0 where id=#{id} and passwd=#{passwd}
	</update>
	<select id="isAdmin" parameterType="String" resultType="int">
		select status from freemember where id=#{id}
	</select>
	<select id="showAll" resultType="test.spring.mvc.bean.MemberDTO">
		select * from freemember order by status desc
	</select>
	<select id="userStatus" parameterType="int" resultType="String">
		select statusname from grade where status=#{status}
	</select>
	<select id="allStatus" resultType="test.spring.mvc.bean.GradeDTO">
		select * from grade order by status desc
	</select>
	<update id="changeStatus" parameterType="test.spring.mvc.bean.MemberDTO">
		update freemember set status=#{status} where id=#{id}
	</update>
	<update id="changeImg" parameterType="String">
		update freemember set img=#{img} where id=#{id}
	</update>
</mapper>    
    